@import './styles/variables.scss';

html {
  height: 100%;
}

body {
  margin: 0;
}

.header {
  height: var(--app-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.main {
  margin-top: var(--app-header-height);
  margin-left: var(--app-left-sidebar-width);

  &__content {
    height: 3000px;
    background-color: aliceblue;
  }
}

.left-sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: antiquewhite;
  margin-top: var(--app-header-height);
  overflow: auto;

  &__inner {
    height: 2000px;
  }
}
