@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/breakpoints.scss';

html {
  height: 100%;
}

body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-left: var(--app-header-margins);
    width: 169px;
    flex-shrink: 0;
    height: var(--app-header-height);
    background-color: aqua;
  }

  &__search {
    width: 728px;
    height: 40px;
    background-color: blanchedalmond;
    flex-basis: 728px;
  }

  &__toolbar {
    margin-right: var(--app-header-margins);
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    background-color: aqua;
  }
}

.main {
  margin-top: var(--app-header-height);
  margin-left: var(--app-left-sidebar-width);

  &__content {
    height: 3000px;
    background-color: aliceblue;
  }
}

.left-sidebar {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: antiquewhite;
  margin-top: var(--app-header-height);

  width: var(--app-left-sidebar-width);
  overflow: var(--app-left-sidebar-overflow);
  display: var(--app-left-sidebar-display);

  &__inner {
    &--expanded {
      display: var(--app-left-sidebar-inner-expanded-display);
      height: 2000px;
    }

    &--collapsed {
      display: var(--app-left-sidebar-inner-collapsed-display);
      height: 200px;
    }
  }
}
