@mixin media ($features...) {
  $media-features: '';

  @each $feature in $features {
    $op: '';

    @if ($media-features != '') {
      $op: ' and ';
    }
    $media-features: $media-features + $op + '(#{$feature})';
  }

  @media screen and #{$media-features} {
    @content;
  }
}

@mixin scrollbar($thumbBackColor: transparent, $thumbHoverBackColor: transparent) {
  &::-webkit-scrollbar {
    background: transparent;
    width: var(--app-scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: $thumbBackColor;

    &:hover {
      background-color: #ddd;
    }
  }
}